@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

body {
    font-family:"Noto Sans JP";
}
:root{
    --primary-color: #F9BB1E;
    ;
    --dark-gray: #6B7280;
}
/* containers */

.Container {
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
    margin: auto;
    padding-bottom: 3rem;
}


.containers-fluid {
    max-width: 600px;
    margin: auto;


}

.spaceout {
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.link{
    text-decoration: none;
    padding: 0.5rem 1rem;

}

.primary-link{
    background-color: var(--primary-color);
    border-radius : 0.5rem;
    color: white;
}

.secondary-link{
    color: var(--primary-color);
    border-radius : 0.5rem;
    border: 1px solid var(--primary-color) ;
}

.list-unbullet-items {
    list-style: none;
}

.list-inline {
    display: inline;
    padding: 0.5rem 1rem;
}

.navigation {
    background-color: var(--primary-color);
    color: white;
    border-bottom-left-radius: 1rem;
}
.nav-brand {
    font-size: large;
    padding: 0.5rem 1rem;
    font-weight: bold;
}

.navigation .link-active {
    font-weight: bold;
}
.navigation .link{
    color: white;
}

.nav-pills {    
    text-align: right;
}

.hero {
    padding: 2rem;
}

.hero .hero-img {
    max-width: 350px;
    display:block ;
    margin: auto;

}

.hero .hero-heading {
    color: var(--dark-gray);
    padding-top: 1rem;
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
}

.hero .hero-heading .hero-inverted {
    color: var(--primary-color);
}

.section {
    padding: 1rem;
    text-align: center;

}

.section h3 {
    text-align: center;
}

.section .section-offwhite {
  background-color: bisque ;
  padding: 2rem;
  text-align: center;
}

.footer {
    background-color: var(--primary-color);
    padding: 1rem;
    text-align: center;
    color: white;
    border-top-right-radius: 1rem;
}

.footer .link {
    color: white;
}

.footer ul {
    padding-inline: 0px;
}

.footer .footer-header {
    font-size: 1rem;
    font-weight: bold;
}

.colorme {
    color: var(--dark-gray);
}